* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  p {
    margin: 0;
  }
  padding: 50px;
  .react-ant-i18n {
    padding: 20px;
    border: 2px dashed seagreen;
  }
}
